.container-header {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px;
}
.apartment-details-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
